<script>
	import { page } from '$app/stores';
	import { pagePath } from '../stores/pageStore';
	import Navbar from '../components/navbar.svelte';

	page.subscribe((value) => {
		pagePath.set(value.path);
		return;
	});
</script>

<Navbar />

<div class="container my-3">
	<slot />
</div>
