<script>
	import { downloadList } from '../stores/downloadStore';
</script>

<div class="row row-cols-auto">
	{#each downloadList as collection, i}
		<div class="col">
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">
						{collection.name}
					</h5>

					{#each collection.paths as path}
						<p class="card-text d-grid gap-2">
							<a href={path.link} class="btn btn-primary">
								{path.name}
							</a>
						</p>
					{/each}
				</div>
			</div>
		</div>
	{/each}
</div>

<style>
  .col {
    min-width: 23.5rem;
  }
</style>