<div class="row mb-2">
  <div class="col-sm-6">
		<div class="card">
			<img
				src="https://i.ibb.co/9n9KC8Y/libgen-logo.png"
				class="card-img-top p-2"
				alt="zlibrary-logo"
        width="10"
			/>
			<div class="card-body">
        <div class="d-grid gap-2">
          <a href="https://libgen.rs/" class="btn btn-primary">Website</a>
        </div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card">
			<img
				src="https://i.ibb.co/4pJrQCS/zlibrary-logo.png"
				class="card-img-top p-2"
				alt="zlibrary-logo"
			/>
			<div class="card-body">
        <div class="d-grid gap-2">
          <a href="https://b-ok.org/" class="btn btn-primary">Website</a>
        </div>
			</div>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-sm-6">
		<div class="card">
			<img
				src="https://i.ibb.co/5YKsysX/logo-3xforum.png"
				class="card-img-top p-2"
				alt="zlibrary-logo"
			/>
			<div class="card-body">
        <div class="d-grid gap-2">
          <a href="https://duckduckgo.com/?t=ffab&q=site+romania-inedit.3xforum.ro" class="btn btn-primary">Website</a>
        </div>
			</div>
		</div>
	</div>
</div>

<style>
  img {
    height: 7.5em;
  }
</style>