<script>
  import { books, fetchBooks } from '../stores/bookStore';
  import BookCard from '../components/bookCard.svelte';

  let searchTerm = "";

  $: {
    if(searchTerm.length >= 3){
      fetchBooks(searchTerm);
    }
  }
</script>

<div class="my-4 text-center">
  <h2>
    Welcome to BookSearch
    <i class="bi bi-bookmarks-fill" />
  </h2>

</div>

<div>
  <input class="form-control mb-2" type="text" bind:value={searchTerm} placeholder="Search" aria-label="Search">
  {#each $books as book_item}
    <BookCard book_item={book_item} />
  {/each}
</div>
