<script>
	export let book_item;
</script>

<div class="list-group mb-2">
	<a
		href={book_item.link}
		class="list-group-item list-group-item-action flex-column align-items-start active"
	>
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">{book_item.collection}</h5>
			{#if book_item.format === 'pdf'}
				<i class="bi bi-file-earmark-pdf" />
			{:else if book_item.format === 'docx'}
				<i class="bi bi-file-earmark-word" />
			{:else if book_item.format === 'epub'}
				<i class="bi bi-book-half" />
			{:else}
				<i class="bi bi-file-earmark" />
			{/if}
		</div>
		<p class="mb-1">
			{book_item.title} - {book_item.format}
		</p>
	</a>
</div>
