<script>
	import ThemePicker from './themePicker.svelte';
	import {pagePath, pagesList} from '../stores/pageStore';
</script>

<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<i class="bi bi-bookmarks-fill" />
			BookSearch
		</a>

		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarExpand"
			aria-controls="navbarExpand"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon" />
		</button>

		<div class="collapse navbar-collapse" id="navbarExpand">
			<ul class="navbar-nav me-auto">
				{#each pagesList as page_item}
					<li class="nav-item">
						{#if page_item.path === $pagePath}
							<a class="nav-link active" href={page_item.path}>
								{page_item.name}	
							</a>
						{:else}
							 <a class="nav-link" href={page_item.path}>
								{page_item.name}	
							</a>
						{/if}
					</li>
				{/each}

				<!-- <li class="nav-item">
					<a class="nav-link active" href="/">Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Download All</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Find More</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li> -->
			</ul>

			<ul class="navbar-nav d-flex">
				<ThemePicker />
			</ul>
		</div>
	</div>
</nav>
