<script>
	import { theme, themeList, setTheme} from '../stores/themeStore';
</script>

<!-- <div class="btn-group p-2" role="group" aria-label="Change theme">
	<button type="button" class="btn btn-info" on:click|preventDefault={() => nextTheme()}>
		<i class="bi bi-circle-half" />
		Theme
	</button>
	<div class="btn-group" role="group">
		<button
			id="btnGroupThemes"
			type="button"
			class="btn btn-info dropdown-toggle"
			data-bs-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
		/>
		<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="btnGroupThemes">
			{#each themeList as theme_item}
				<button class="dropdown-item" on:click|preventDefault={() => setTheme(theme_item)}>
					{theme_item.name}
				</button>
			{/each}
		</div>
	</div>
</div> -->

<!-- <div class="btn-group mx-5">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
    <i class="bi bi-circle-half"/> Theme
  </button>
  <div class="dropdown-menu dropdown-menu-start">
		<button class="dropdown-item" on:click|preventDefault={() => setTheme(themeList[0])}>Default</button>
		<hr class="dropdown-divider">
		{#each themeList as theme_item, index}
			{#if index > 0}
				<button class="dropdown-item" on:click|preventDefault={() => setTheme(theme_item)}>
					{theme_item.name}
				</button>
			{/if}
		{/each}
	</div>
</div> -->

<!-- <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>Account</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">
            <strong>Register</strong>
          </a>
          <a href="/" class="dropdown-item">
            <strong>Profile</strong>
          </a>
          <a href="/" class="dropdown-item">
            <strong>My Jobs</strong>
          </a>
          <a href="/" class="dropdown-item">
            <strong>My Searches</strong>
          </a>
          <a href="/" class="dropdown-item">
            <strong>Employer Dashboard</strong>
          </a>
          <a href="/" class="dropdown-item">
            <strong>Login</strong>
          </a>
          <a href="/" class="dropdown-item">
            <div class="dropdown-divider"></div>
            <strong>Logout</strong>
          </a>
        </div>
      </li>
    </ul> -->

<div class="nav-item dropdown px-2">
	<button
		class="btn btn-info dropdown-toggle"
		type="button"
		id="dropdownTheme"
		data-bs-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
	>
		<i class="bi bi-circle-half" /> Theme
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTheme">
    <button class="btn dropdown-item" on:click|preventDefault={() => setTheme(themeList[0])}>
      {themeList[0].name}
    </button>
		<hr class="dropdown-divider">
		{#each themeList as theme_item, index}
			{#if index > 0}
				<button class="btn dropdown-item" on:click|preventDefault={() => setTheme(theme_item)}>
					{theme_item.name}
				</button>
			{/if}
		{/each}
	</ul>
</div>

<svelte:head>
	<link rel="stylesheet" href={$theme.link} />
</svelte:head>
